<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>    
    	<property name="dialect" value="mysql"/>    
    </properties>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="area" type="com.amar.web.model.Area" />
		<typeAlias alias="tableInfo" type="com.amar.app.autocode.TableInfo" />
		<typeAlias alias="metarnet_visit" type="com.amar.web.model.Metarnet_visit" />
		<typeAlias alias="user" type="com.amar.web.model.User" />
		<typeAlias alias="remindplan" type="com.amar.web.model.Remindplan" />
		<typeAlias alias="remindlog" type="com.amar.web.model.Remindlog" />
		<typeAlias alias="diary" type="com.amar.web.model.Diary" />
		<typeAlias alias="job" type="com.amar.web.model.Job" />
		<typeAlias alias="jobdetail" type="com.amar.web.model.Jobdetail" />
		<typeAlias alias="jobplanfile" type="com.amar.web.model.Jobplanfile" />
		<typeAlias alias="project" type="com.amar.web.model.Project" />
		<typeAlias alias="jobplan" type="com.amar.web.model.Jobplan" />
		<typeAlias alias="jobplanreply" type="com.amar.web.model.Jobplanreply" />
		<typeAlias alias="jobplanlog" type="com.amar.web.model.Jobplanlog" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.amar.db.ibatis.page.PagePlugin">
			<property name="someProperty" value="100"/>
		</plugin>
	</plugins>
</configuration>