<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="area" type="com.amar.web.model.Area" />
		<typeAlias alias="tableInfo" type="com.amar.app.autocode.TableInfo" />
		<typeAlias alias="metarnet_visit" type="com.amar.web.model.Metarnet_visit" />
		<typeAlias alias="user" type="com.amar.web.model.User" />
		<typeAlias alias="remindplan" type="com.amar.web.model.Remindplan" />
		<typeAlias alias="remindlog" type="com.amar.web.model.Remindlog" />
		<typeAlias alias="diary" type="com.amar.web.model.Diary" />
	</typeAliases>
</configuration>