.centerDiv
{
   background-color: #f8d080;
   border: 1px solid black;
   z-index:1000;
   left:40%;
   top:60;
   height:20;
   overflow-y:auto;
   overflow:auto;
   position:fixed!important;
   margin-left:-150px !important;
   _position:absolute;
   _top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat')?
       documentElement.scrollTop + (document.documentElement.clientHeight - this.offsetHeight)/2: /*IE6*/
   	   document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);  /*IE5 IE5.5*/
}

.commonFont
{
	font-family:宋体;
	font-size:12;
}